*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(85, 239, 196, 0.5);
    /* background-image: url("../img/test.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed; */
    /* background: green url(../img/test.png) no-repeat fixed center top; */ */

}
div{


    width: 500px;
    height: 500px;
    background: green;
    border: 5px orange solid;
    outline:5px red solid;
    /* border-style: solid;
    border-color: red;
    border-width: 4px; */
    /* border: 4px solid red; */
    /* border-radius: 50%; */
    overflow: hidden;
    margin: 20px;

}
p{
    color: red;

}

img{
    width: 100%;
}
