*{
    padding: 0px;
    margin: 0px;
  }
.first {
            border-style: solid;
            border-color: black;
            width: 1404px;
            height: 794px;
            background-image: url("../img/screen.jpg");
            background-size: 100%;
        }
.second {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            margin: 79px 120px;
            width: 1123px;
            height: 635px;
            background-image: url("../img/screen.jpg");
        }
.third {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            margin: 63px 112px;
            width: 898px;
            height: 508px;
            background-image: url("../img/screen.jpg");
        }
.fourth {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            margin: 51px 90px;
            width: 718px;
            height: 406px;
            background-image: url("../img/screen.jpg");
        }
.fifth {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            margin: 41px 71px;
            width: 574px;
            height: 325px;
            background-image: url("../img/screen.jpg");
        }
.sixth {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            margin: 33px 57px;
            /* width: 325px; */
            height: 260px;
            background-image: url("../img/screen.jpg");
        }
.seventh {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            margin: 26px 33px;
            /* width: 260px; */
            height: 208px;
            background-image: url("../img/screen.jpg");
         }
.eight {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            margin: 21px 26px;
            /* width: 208px; */
            height: 166px;
            background-image: url("../img/screen.jpg");
        }
.ninth {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            margin: 17px 21px;
            /* width: 166px; */
            height: 133px;
            background-image: url("../img/screen.jpg");
        }
.tenth {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            margin: 13px 17px;
            /* width: 133px; */
            height: 100px;
            background-image: url("../img/screen.jpg");
        }
.eleventh {
            border-style: solid;
            border-color: black;
            border-width: 5px;
            margin: 10px 13px;
            /* width: 106px; */
            height: 67px;
            background-image: url("../img/screen.jpg");
        }
