body {
    margin: 0;
}

.picture {
    background-image: url("../img/screen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: black;
    margin: 10%;
    border-width: 5px;
}

.first {
    margin: 0;
}

.last {
    border: none;
}
