<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    background: black;
}

header {
    width: 100%;
    background: #60a3bc;
    border: 1px solid white;
}

.height {
    height: 50px;
}

.clear {
    clear: both;
}

.float {
    float: left;
}

.menu_size, .logo, .support {
    width: 33.3%;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 20px 0;
}

=======
body{
    margin: 0;
    background: black;
}

a{
    text-decoration: none;
    color: white;
}
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
a:hover {
    color: red;
}

<<<<<<< HEAD
ul {
=======
ul{
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    list-style: none;
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD

.menu {
    position: relative;
    width: 70px;
    top:0;
    left: 0;
    background: black;
}

.subMenu li {
    float: none;
    margin: 15px 0;
}

.subMenu {
    display: none;
    position: absolute;
    left: 2px;
    width: 63px;

}

ul li:hover .subMenu {
    display: block;
    background: black;
}

.menu_name {
    display: inline-block;
    color: white;
    margin: 15px;
}

.menu_text {
    display: block;
    font-size: 19px;
}

.logo {
    position: relative;
}

.fa-apple {
=======
.clear{
    clear: both;
}
.float{
    float: left;
}

.subMenu li{
    float: none;
}

.subMenu{
    display: none;
}
ul li{
    width: 70px;
    height: 50px;
    top:0;
    left: 0;
}

ul li:hover .subMenu{
    display: block;
    background-color: rgba(0, 0, 0,0.5)


}

header{
    width: 100%;
    background: #60a3bc;
    height: 50px;
    position: relative;
    border: 1px solid white;
}
.menu, .logo, .support{
    width: 31.3%;
}
.menu_name{
    display: inline-block;
    color: white;
    width: 70px;
    height: 50px;
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    text-align: center;
}
.logo{
    position: relative;
    height: 50px;
}
.fa-apple{
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    font-size: 50px;
    overflow: hidden;
    width: 70px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 178px;
    background-color: black;
    color: white;
}

.support {
<<<<<<< HEAD
    position: relative;
}

button {
    display: inline-block;
=======
    /* position: relative; */
    height: 50px;
}
button {
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    border: none;
    width: 70px;
    height: 50px;
    background: black;
    color:white;
    position: absolute;
    right: 0;
}
<<<<<<< HEAD

.content_and_sidebar {
    margin: 10px 5px;
}

=======
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
.sidebar_left {
    width: 36%;
    height: 900px;
    margin-right: 2%;
    border-right: 1px solid white;
<<<<<<< HEAD
}

h1 {
=======
    position: relative;
}
.content {
    width: 40%;
    margin-right: 2%;
    height: 900px;
    position: relative;
}
.content img {
    width: 90%;
    /* margin: 3% 5%; */
}
.img_1{
    height: 500px;
    margin: 3% 5%;
}
.img_2{
    position: absolute;
    bottom: 0;
    margin: 0 5%;
}
.content_and_sidebar {
    margin: 10px 5px;
}
.sidebar_right {
    position: relative;
    height: 900px;
    width: 19%;
    border-left: 1px solid white;
}
h1{
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
<<<<<<< HEAD

s {
=======
s{
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    margin-left: 3px;
    color: red;
}

<<<<<<< HEAD
p {
=======
p{
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    margin: 3px;
    font-size: 30px;
    color: white;
}
<<<<<<< HEAD

=======
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
.additional_functions {
    display: inline-block;
    color: white;
    font-size: 18px;
    margin: 5% 0;
}
<<<<<<< HEAD

.form_first {
    margin: 5% 1%;
}

.price_additional_functions {
    display: inline-block;
    color: red;
    font-size: 16px;
    margin: 5 0;
}

.price_first {
    padding-left: 23%;
}

.price_second {
    padding-left: 36%;
}

.price_third {
    padding-left: 30%;
}

.button_buy {
=======
.form_first{
    margin: 5% 1%;
}
.price_additional_functions{
    display: inline-block;
    color: red;
    font-size: 16px;
    margin: 5 0%

}
.price_first{
    padding-left: 23%;
}
.price_second{
    padding-left: 36%;
}
.price_third{
    padding-left: 30%;
}
.button_buy{
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    font-family: serif;
    color: white;
    font-size: 40px;
    background: #eb2f06;
    border: none;
}
<<<<<<< HEAD

.form_second {
    margin: 8% 35%;
}

.content {
    width: 40%;
    margin-right: 2%;
    height: 900px;
    position: relative;
}

.content img {
    width: 90%;
}

.img_1 {
    height: 500px;
    margin: 3% 5%;
}

.img_2 {
    position: absolute;
    bottom: 0;
    margin: 0 5%;
}

.sidebar_right {
    position: relative;
    height: 900px;
    width: 19%;
    border-left: 1px solid white;
}

.sidebar_menu {
    position: absolute;
    display: block;
    margin: 1%;
}

.sidebar_menu_text{
    text-align: center;
    font-size: 20px;
    margin: 20px 30px;
    background: green;
    width: 210px;
    height: 70px;
}

h2 {
=======
.form_second{
    /* position: absolute; */
    margin: 8% 35%;
}
.sidebar_menu{

    display: inline-block;
    margin: 0 40%;
    font-size: 20px;
}
.sidebar_menu_text{
    margin: 20px 0;

}
h2{
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    text-align: center;
    color: white;
    font-style: italic;
    margin: 5px 0;
}
<<<<<<< HEAD

.characteristics {
    position: relative;
}

.first_characteristic {
=======
.first_characteristic{
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 3% 1%;
}
<<<<<<< HEAD

.first_characteristic_text {
=======
.first_characteristic_text{
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    color: white;
    position: absolute;
    right: 0;
    font-size: 16px;
<<<<<<< HEAD
    margin: 3% 1%;
}

=======
    margin: 3% 2%;
}
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
footer {
    height: 50px;
    border-top: 1px solid white;
}
<<<<<<< HEAD

.footer_text {
=======
.footer_text{
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
    margin-left: 2%;
    color: white;
    font-size: 16px;
}
<<<<<<< HEAD

.chat_area {
    position: fixed;
    bottom: 0;
    right: 0;
}

.submit {
    color: white;
    background: #eb2f06;
    display: inline-block;
    height: 36px;
}

textarea::placeholder {
    color: black;
}

@media screen and (max-width: 768px) {

    .fa-apple {
        right: 77px;
    }

    .sidebar_left {
        width: 100%;
        float: none;
        border: none;
    }

    .characteristics {
        border-bottom: 1px solid white;
    }

    .content {
        width: 45%;
        float: left;
        margin-top: 60px;
        height: 600px;
        position: relative;
    }
    .content img {
        width: 90%;
    }

    .img_1{
        height: 400px;
        position: absolute;
        left: 0;
    }

    .sidebar_right {
        width: 25%;
        float:left;
        height: 600px;
        margin-top: 60px;
    }

    .sidebar_menu_text {
        font-size: 18px;
        margin: 10px 20px;;
        background: green;
        width: 200px;
        height: 65px;
    }

    .about_iPhone {
        margin: 1%;
        position: relative;
    }

    .additional_functions {
        font-size: 20px;
    }

    .price_additional_functions {
        position: absolute;
        right: 7px;
        margin: 5% 0;
        font-size: 20px;
    }
}
@media screen and (max-width: 480px) {

    .fa-apple {
        right: 37px;
    }

    .additional_functions {
        font-size: 16px;
    }

    .price_additional_functions {
        font-size: 14px;
    }

    .first_characteristic{
            font-size: 14px;
    }
    .first_characteristic_text{
        font-size: 14px;
    }

    .sidebar_left {
        width: 100%;
        height: 800px;
        float: none;
        border: none;
    }

    .content {
        float: none;
        width: 98%;
        margin: 1%;
        border-bottom: 1px solid white;
    }

    .sidebar_right {
        border-left: none;
    }

    .sidebar_menu_text {
        background: green;
        width: 350px;
        height: 65px;
        text-align: center;
    }

    .footer_text {
        margin-left: 1%;
        color: white;
        font-size: 12px;
    }
}
=======
>>>>>>> aecfea1230bef499f09596b8f44c40030fd6fdcf
