body {
    margin: 4px;
    background: #dfe4ea;
}

.float {
    float: left;
}

.clear {
    clear: both;
}

.height {
    height: 150px;
    margin: 1%;
}
.border {
    outline: 1px solid black;
}

.text-align {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: white;
}

.first_row {
    width: 18%;
    height: 100px;
    background: #40739e;
}

.second_row {
    width: 31.3%;
    background: #70a1ff;
}

.third_row {
    width: 48%;
    background: #273c75;
}

.third_row_items {
    width: 23%;
    height: 120px;
    margin: 15px 1%;
    background: #82ccdd;
}

.fourth_row {
    width: 31.3%;
    background: #60a3bc;
}

.fourth_row_items {
    width: 6.3%;
    height: 120px;
    margin: 15px 1%;
    background: #0c2461;
}
