/* font-family: 'Itim', cursive; */
@font-face {
    font-family: 'Itim-Regular';
    src:url("../fonts/Itim-Regular.ttf");
}
/* font-family: 'Modak', cursive; */
@font-face {
    font-family: 'Modak-Regular';
    src: url("Modak-Regular.ttf");
}
/* font-family: 'Nerko One', cursive; */
@font-face {
    font-family: 'NerkoOne-Regular';
    src: url("NerkoOne-Regular.ttf");
}
/* font-family: 'Pacifico', cursive; */
@font-face {
    font-family: 'Pacifico-Regular';
    src:url("Pacifico-Regular.ttf");
}
