body{
    margin: 0;
    padding: 4px;
    background-color: #222f3e;
}

.box{
    float: left;
    width: 20%;
    margin: 11px;
}

.fa-style{
    font-size: 50px;
    border: 2px solid #54a0ff;
    overflow: hidden;
    width: 65px;
    text-align: center;
    padding: 5%;
    background-color: #f7f1e3;
    cursor: pointer;
}

.fa-user-secret{
    color: #b2bec3;
    text-shadow: 2px 1px 1px #222f3e;
}

.fa-bluetooth-b{
    color: #2c2c54;
    text-shadow: 2px 1px 1px red;
}

 .fa-user-cog{
     color: #1dd1a1;
     text-shadow: 2px 1px 1px #10ac84;
 }

 .fa-user-edit{
     color: #f368e0;
     text-shadow: 2px 1px 1px #ff9ff3;
 }

 .fa-user{
     color:black;
     text-shadow: 2px 1px 1px #0abde3;
 }

 .fa-bookmark{
     color:#01a3a4;
     text-shadow: 2px 1px 1px #54a0ff;
 }

 .fa-music{
     color:#ff9f43;
     text-shadow: 2px 1px 1px #feca57;
 }

 .fa-cloud{
     color:#2c2c54;
     text-shadow: 2px 1px 1px #706fd3;
 }

.text-style{
    font-size: 5px;
    max-width: 70px;
    text-align: center;
    color: #c8d6e5;
}

.first{
    font-family: Itim-Regular;
    font-size: 4.6px;
}

.second{
    font-family: Modak-Regular;
}

.third{
    font-family: NerkoOne-Regular;
}

.fourth{
    font-family: Pacifico-Regular;
    font-style: italic;
}
