/* .test{
    position: fixed;
    bottom:  0;
    right: 0;
    padding-left: 10px 30px;
    background: red;
} */
*{
    margin: 0;
    padding: 0;
}
.news{
    cursor: pointer;
    width: 500px;
    height: 281px;
    /* background: green; */
    position: relative;
    background-color: rgba(0,0,0,0.2);
}
.news img{
    width: 100%;
}

.fulltext{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: rgba(255,255,255,0.8);
    display: none;

}
.tags{
    position: absolute;
    top: 10px;
    left: 10px;
}
.tags span{
    display: inline-block;
    padding: 3px 7px;
    background: rgba(194, 54, 22,0.8);
    color: white;
    margin: 3px;
}
.float{
    float: left;
}

.clear{
    clear: both;
}

.w30{
    width: 29%;
    margin-right: 1%;
}
.w20{
    width: 19%;
    margin-right: 1%;
}

.sidebar{
    width: 30%;
}
.content{
    width: 65%;
    margin-left: 5%;
}

.h300{
    height: 300px;
    margin-top: 3px;
    background: #22a6b3;
}

.galleryItem{
    float: left;
    width: 18%;
    margin: 1%;
    height: 100px;
    background: #fbc531;
}
.news:hover .fulltext{
    display: block;
}

/* @media screen and (max-width: 1200px){
    .w30, .w20{
        width: 48%;
        margin: 1%;
    } */

@media screen and (max-width: 1200px){
    .w30, .w20, .sidebar, .content{
        width: 48%;
        margin: 1%;
    }
    .galleryItem{
        float: left;
        width: 48%;
        margin: 1%;
    }
    .h300{
        height: auto;
        min-height: 100px;
    }
}

@media screen and (max-width: 700px){
    .w30, .w20, .sidebar, .content{
        width: 100%;
        margin: 0;
        margin-top: 5px;
    }

    .galleryItem{
        width: 48%;
        margin: 1%;
    }

    .h300{
        height: auto;
        min-height: 100px;
    }
}
