*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
ul li{
    float: left;
}
ul li a{
    background: #353b48;
    color: white;
    padding: 3px 10px;

}
.subMenu{
    display: none;
}
.subMenu li{
    float: none;
}

ul li:hover .subMenu{
    display: block;
}
.t1 + p{
    color: red;
}
.t1 > p{
    color: green;
}
.t1{
    opacity: 0.3;
}
