
*{
    padding: 0;
    margin: 0;
    font-family: 'PacificoRegular';
}
.fa-user{
    font-size: 100px;
    color: red;
}
[name="userLogin"], [name="userPassword"]{
    margin: 15px;
    border: 1px solid red;
    border-radius: 5px;
    outline: none;
    padding-left: 15px;
}
[name="userPassword"]{
    border: 2px solid red;
}
a{
    color: green;
    text-decoration: none;
}
a:visited{
    color: yellow;
}
a:hover{
    color: red;
}
a:active{
    color: black;
}
.un{
    text-decoration: underline;
}

.text-box{
    line-height: 18px;
    /* text-transform: uppercase; */
    text-align: justify;
    /* font-family: 'Nerko One', cursive; */
    /* font-weight:700;
    font-family: 'PacificoRegular', cursive; */
}

.btn{
    padding: 5px 12px;
    border: none;
    cursor:pointer;
    font-size: 12px;
}
.btn-success{
    background-color: #16a085;
    color: #fff;
}
.btn-danger{
    background-color: #c0392b;
    color: #fff;
}

/* div{
    width: 30px;
    height: 30px;
    background-color: blue;

}

span{
    width: 30px;
    height: 30px;
    background-color: green;
    display: inline-block;
} */

#box1{
    color: red;
}
#box2{
    color: orange;
}

.a1{
    color: blue;
}
.a2{
    color: pink;
}
